# Ignore all PDF files
*.pdf

# Ignore all PNG files
*.png

# Ignore all CSV files
*.csv

# Ignore all txt files
*.txt

# Ignore all so files (compiled)
*.so

# Ignore all o files (compiled)
*.o

# Ignore all C files (compiled)
*.c

# Ignore all pyc files (pycache)
*.pyc

# Ignore all nbi files (numba cache)
*.nbi