# Ignore PNG files in subdirectories only
**/*.png
!/*.png
!speedup_PLOTS/*.png

# # Ignore all CSV files
# *.csv

# Ignore all C, so, o files (compiled from Cython)
*.c
*.so
*.o

# Ignore all pyc files (pycache)
*.pyc

# Ignore all nbi and nbc files (Numba cache)
*.nbi
*.nbc

# Ignore all out files (from BlueCrystal slurm output)
*.out